In [1]:
#!/usr/bin/env python3
# -*- coding: utf-8 -*-

"""
{Geochemical Clustering - Notebook 1
Geochemical dataset acquisition from Postgresql database.}

{INTERNAL USE ONLY}
"""

__author__ = '{Malte Schade}'
__copyright__ = 'Copyright {2022}, {Geochemical Clustering - Notebook 1}'
__version__ = '{1}.{1}.{0}'
__maintainer__ = '{Malte Schade}'
__email__ = '{contact@malteschade.com}'
__status__ = '{FINISHED}'

# built-in modules
import json

# other modules
import pandas as pd

# constants
SITE_NA = '%tapah%'
OUT_PATH = 'chem_data.csv'
TOKENS_PATH = 'tokens.json'

# settings
pd.set_option('display.max_columns', None)

In [2]:
# load jupyter notebook sql extension
%load_ext sql

# establish sql connection using a token file
sql_token = json.load(open(TOKENS_PATH))
%sql {sql_token['link']}

In [3]:
%%sql prel_sta <<
SELECT
    p.nech as key, p.e_cat as cat, p.e_cd as alias, p.site_id as site, p.prj_na as year, p.e_type as type,
    p.xxxx as x, p.yyyy as y, p.zzzz as z, p.for_type, p.for_len, p.for_dir, p.for_dip,

    c.tab, c.dpasse, c.fpasse, c.cao, c.mgo, c.sio2, c.fe2o3, c.al2o3, c.s, c.mno, c.pf
FROM
    geolschema.prel_sta as p,
    (SELECT
        'lci' as tab, nech, e_cat, dpasse, fpasse, cao, mgo, sio2, fe2o3, al2o3, s, mno, pf
    FROM
        geolschema.lci_ch01
    UNION
    SELECT
        'ext' as tab, nech, e_cat, dpasse, fpasse, cao, mgo, sio2, fe2o3, al2o3, s, mno, pf
    FROM
        geolschema.ext_ch01) as c
WHERE
    lower(p.site_na) LIKE :SITE_NA
    AND
    CONCAT(p.nech, p.e_cat) = CONCAT(c.nech, c.e_cat)
    AND
    p.ignore is false
    AND
    p.xxxx > 0
    AND
    c.mgo > 0

LIMIT NULL

 * postgresql://LccMSchade:***@mystphib02.lhoist.com:5438/lextapah
15928 rows affected.
Returning data to local variable prel_sta

In [4]:
# save query result to df
df = prel_sta.DataFrame()
df

,key,cat,alias,site,year,type,x,y,z,for_type,for_len,for_dir,for_dip,tab,dpasse,fpasse,cao,mgo,sio2,fe2o3,al2o3,s,mno,pf
0,TQC4825,LN,2019_B11_R4_D11,TQC,2019,SO,43263.3740,60619.6640,4.0990,BLHL,9.10,0.00,-90,ext,0.00,9.10,54.19,0.68,0.16,0.026,0.07,0.005,0.0049,NaN
1,BIZ136,LN,BIZ136,BIZ,2020,SO,43404.9640,60548.0340,5.9120,CORE,97.00,290.00,-40,ext,91.00,93.00,54.25,0.40,0.18,0.031,0.07,0.005,0.0098,NaN
2,TQC4385,LN,2018_B109_R3_C4,TQC,2018,SO,43249.9050,60473.6920,1.9940,BLHL,6.99,0.00,-90,ext,0.00,6.99,55.08,0.40,0.08,0.019,0.04,0.001,0.0033,NaN
3,BIZ008,LN,BIZ008,BIZ,2006,SO,43167.3400,61055.1400,27.5300,CORE,200.31,290.00,-40,lci,128.75,130.83,55.44,0.29,0.07,0.090,0.03,0.002,0.0078,43.88
4,BIZ146,LN,BIZ146,BIZ,2020,SO,42969.3040,60467.7710,-3.4630,CORE,73.00,290.00,-40,ext,57.50,59.50,54.39,0.63,0.13,0.051,0.07,0.017,0.0083,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15923,TQC4973,LN,2019_B24_R3_C2,TQC,2019,SO,43068.6540,60668.5210,4.8720,BLHL,9.87,0.00,-90,ext,0.00,9.87,54.82,0.33,0.12,0.027,0.07,0.000,0.0027,NaN
15924,TQC5204,LN,2019_B46_R3_C1,TQC,2019,SO,43263.4910,60654.7010,4.5990,BLHL,9.60,0.00,-90,ext,0.00,9.60,54.31,0.86,0.24,0.040,0.11,0.007,0.0052,NaN
15925,TQC0790,LN,2016_B40_Pin_2,TQC,2016,SO,43046.7383,60493.9575,8.7449,BLHL,3.74,0.00,-90,ext,0.00,3.74,55.35,0.33,0.10,0.040,0.04,0.003,0.0031,NaN
15926,BIZ135,LN,BIZ135,BIZ,2020,SO,43109.7270,60702.9660,-2.9270,CORE,76.00,290.00,-40,ext,18.60,21.00,54.73,0.58,0.16,0.045,0.06,0.002,0.0035,NaN
15927,TQC5057,LN,2019_B31_P5,TQC,2019,SO,43086.8300,60734.1540,5.7900,BLHL,0.79,0.00,-90,ext,0.00,0.79,54.61,0.44,0.07,0.025,0.04,0.002,0.0013,NaN

In [5]:
# save df to csv
df.to_csv(OUT_PATH)